<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Transporte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/salida.css') }}">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/transporte.jpeg') }}" alt="Registrar Paquete" class="side-image">
        </div>
        <div class="form-container">
            <h1 class="titulo">Selecciona Sucursal Destino:</h1>
            <form action="{{ url_for('salidatransporte.transporte') }}" method="post">
                <select name="sucursal" id="sucursal" required>
                    {% for sucursal in sucursales %}
                        <option value="{{ sucursal.id }}">{{ sucursal.numero }} - {{ sucursal.localidad }} - {{ sucursal.direccion }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Ir</button>
            </form>
        </div>
    </div>
</body>
</html>
